#cart {
    max-width: 1440px;
    padding-top: 60px;
    margin: auto;
  }
  .form div {
    margin-bottom: 0.4em;
  }
  .cartItem {
    --bs-gutter-x: 1.5rem;
  }
  .cartItemQuantity,
  .proceed {
    background: #f4f4f4;
  }
  .items {
    padding-right: 30px;
  }
  #btn-checkout {
    min-width: 100%;
  }
  
  /* stasysiia.com */
  @import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
  .btn-check:focus + .btn-primary,
  .btn-primary:focus {
    color: #fff;
    background-color: #111;
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
  }
  button:hover,
  .btn:hover {
    box-shadow: 5px 5px 7px #c8c8c8, -5px -5px 7px white;
  }
  button:active {
    box-shadow: 2px 2px 2px #c8c8c8, -2px -2px 2px white;
  }
  
  /*PREVENT BROWSER SELECTION*/
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }
  /*main*/
  main:before {
    content: "";
    display: block;
    height: 88px;
  }
  /* yukito bloody */
  .back {
    position: relative;
    top: -30px;
    font-size: 16px;
    margin: 10px 10px 3px 15px;
  }
  .inline {
    display: inline-block;
  }
  
  .shopnow,
  .contact {
    background-color: #000;
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .shopnow:hover {
    text-decoration: none;
    color: white;
    background-color: #c41505;
  }
  /* for button animation*/
  .shopnow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
  }
  .shopnow span:after {
    /* content: url("https://badux.co/smc/codepen/caticon.png"); */
    position: absolute;
    font-size: 30px;
    opacity: 0;
    top: 2px;
    right: -6px;
    transition: all 0.5s;
  }
  .shopnow:hover span {
    padding-right: 25px;
  }
  .shopnow:hover span:after {
    opacity: 1;
    top: 2px;
    right: -6px;
  }
  .ma {
    margin: auto;
  }
  .price {
    color: slategrey;
    font-size: 2em;
  }
  #mycart {
    min-width: 90px;
  }
  #cartItems {
    font-size: 17px;
  }
  #product .container .row .pr4 {
    padding-right: 15px;
  }
  #product .container .row .pl4 {
    padding-left: 15px;
  }
  
#txt{
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    font-family:sans-serif;
    letter-spacing:3.5px;
    font-size:3.5rem;
    font-weight:700;
    position:relative;
    transform-style:preserve-3d;
    perspective:100px;
    -webkit-transform-style:preserve-3d;
    -webkit-perspective:100px;
 }
 #txt>b{
    height:3.5rem;
    box-shadow:0 .4rem .3rem -.3rem #aaa;
    color:#979c9f;
    background:linear-gradient(#aaf,#acf,#afc);
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transform-origin:bottom;
    transform:rotateX(-85deg);
    -webkit-transform-origin:bottom;
    -webkit-transform:rotateX(-85deg);
    animation:getUp 7s infinite;
 }
 #txt>b:nth-child(2){
    animation-delay:.25s;
 }
 #txt>b:nth-child(3){
    animation-delay:.5s;
 }
 #txt>b:nth-child(4){
    animation-delay:.75s;
 }
 #txt>b:nth-child(5){
    animation-delay:1s;
 }
 #txt>b:nth-child(6){
    animation-delay:1.25s;
 }
 #txt>b:nth-child(7){
    animation-delay:1.5s;
 }
 @keyframes getUp{
    10%,50%{
       transform:rotateX(0);
    }
    0%,60%,100%{
       transform:rotateX(-85deg);
    }
 }