*{
    font-family: "Roboto","Open Sans","sans-serif";
}

.container-fluid img{
  width: 50px;
}

.nav-link:hover{
    background-color: rgb(48,147,101);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li a{
    color: gray;
    padding: 0.5em 1em;
    transition: all 0.2s linear;
}

.dropdown-menu li a:hover {
    color: rgb(48, 147, 101);
    transform: translateY(-5px);
}

@media screen and (min-width:993px) {
    .dropdown:hover .dropdown-menu{
        display: flex;
    }
    .dropdown-menu.show{
        display: flex;
    }
}

@media screen and (max-width:992px) {
    .dropdown-menu.show{
        max-height: 60vh;
        overflow-y: scroll;
    }
}