*{
    font-family: "Roboto","Open Sans","sans-serif";
}

.container-fluid img{
  width: 50px;
}

.nav-link:hover{
    background-color: rgb(48,147,101);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li a{
    color: gray;
    padding: 0.5em 1em;
    transition: all 0.2s linear;
}

.dropdown-menu li a:hover {
    color: rgb(48, 147, 101);
    transform: translateY(-5px);
}

@media screen and (min-width:993px) {
    .dropdown:hover .dropdown-menu{
        display: flex;
    }
    .dropdown-menu.show{
        display: flex;
    }
}

@media screen and (max-width:992px) {
    .dropdown-menu.show{
        max-height: 60vh;
        overflow-y: scroll;
    }
}

#txt{
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    font-family:sans-serif;
    letter-spacing:3.5px;
    font-size:3.5rem;
    font-weight:700;
    position:relative;
    transform-style:preserve-3d;
    perspective:100px;
    -webkit-transform-style:preserve-3d;
    -webkit-perspective:100px;
 }
 #txt>b{
    height:3.5rem;
    box-shadow:0 .4rem .3rem -.3rem #aaa;
    color:#979c9f;
    background:linear-gradient(#aaf,#acf,#afc);
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transform-origin:bottom;
    transform:rotateX(-85deg);
    -webkit-transform-origin:bottom;
    -webkit-transform:rotateX(-85deg);
    animation:getUp 7s infinite;
 }
 #txt>b:nth-child(2){
    animation-delay:.25s;
 }
 #txt>b:nth-child(3){
    animation-delay:.5s;
 }
 #txt>b:nth-child(4){
    animation-delay:.75s;
 }
 #txt>b:nth-child(5){
    animation-delay:1s;
 }
 #txt>b:nth-child(6){
    animation-delay:1.25s;
 }
 #txt>b:nth-child(7){
    animation-delay:1.5s;
 }
 @keyframes getUp{
    10%,50%{
       transform:rotateX(0);
    }
    0%,60%,100%{
       transform:rotateX(-85deg);
    }
 }