<body>
    <footer class="main-footer">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="logo-widget footer-widget">
                            <figure class="logo-box"><a href="#"><img src="./img/Logo_White.jpg" alt=""></a>
                            </figure>
                            <div class="text">
                                <p>Chào mừng bạn đến với TD Travel - nơi tận hưởng hành trình du lịch tuyệt vời. Khám
                                    phá những
                                    điểm đến độc đáo, trải nghiệm văn hóa độc đáo và đặt hành trình của bạn với dịch vụ
                                    chuyên nghiệp. Hãy cùng TD Travel khám phá thế giới, để những kỷ niệm trở nên không
                                    gì
                                    bằng.</p>
                            </div>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                        <div class="service-widget footer-widget">
                            <div class="footer-title">Dịch vụ</div>
                            <ul class="list">
                                <li><a href="#">Cẩm nang du lịch</a></li>
                                <li><a href="#">Nhật ký du lịch</a></li>
                                <li><a href="#">Tư vấn du lịch</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Khuyến mãi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                        <div class="service-widget footer-widget">
                            <div class="footer-title">Liên hệ</div>
                            <ul class="list">
                                <li><a href="#">Trụ sở chính: 239A Hoàng Văn Thụ, Phường 8, Quận Phú Nhuận, TP. Hồ Chí
                                        Minh.</a></li>
                                <li><a href="#">Điện thoại: 028 73056789 | Hotline: 1900 1177</a></li>
                                <li><a href="#">Website: tdtravel.com.vn</a></li>
                                <li><a href="#">Email: info@tdtravel.com.vn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                    <div class="copyright"><a href="#">Copyright</a> &copy; 2024 TD Travel</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>