<body>
    <main ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
            <table class="table table-bordered" style="margin-top: 100px;">
                <tr>
                    <td>Tour</td>
                    <td>Giá Tour</td>
                    <td>Số chỗ</td>
                    <td>Tổng tiền</td>
                    <td>Chỉnh sửa</td>
                </tr>
                <tr ng-repeat="tour in Tours">
                    <td class="d-flex">
                        <img src="./img/{{tour.img}}" alt="" class="img-fluid me-3" style="max-width: 70px;">
                        <p>{{tour.tourName}}</p>
                    </td>
                    <td ng-model="tour.giaTien">{{tour.giaTien}}₫</td>
                    <td>
                        <input type="number" min="1" step="1" value="{{tour.soCho}}" ng-model="tour.soCho"
                            ng-change="tinhTienTour()" style="max-width: 50px;" />
                    </td>
                    <td ng-bind="tour.tongTienTour">
                    </td>
                    <td>
                        <button class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </table>
            <hr>
            <div class="mb-5 d-flex justify-content-between align-item-center" ng-init="tinhTienTour()">
                <button class="btn btn-success">Đặt hàng</button>
                <h2>Tổng: <span ng-bind="tongTienTours"></span>₫</h2>
            </div>
        </div>
    </main>
</body>