<head>
    <style>
        body {
            padding-top: 56px;
        }

        /* Tùy chỉnh kích thước ảnh cho đẹp */
        .feature-img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/baner-giam-gia-tour-du-lich_113653707.jpg"
                        alt="Travel Image" class="img-fluid feature-img">
                </div>
                <div class="col-lg-6">
                    <h1>Chào mừng đến với TD Travel</h1>
                    <p>Nơi mở cánh cửa cho những chuyến hành trình và phiêu lưu không gì quên được.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6">
                    <h2>Sứ mệnh của chúng tôi</h2>
                    <p>Chúng tôi cam kết mang đến những trải nghiệm du lịch đặc biệt, đảm bảo khách hàng tạo ra những kí
                        ức lâu dài.</p>
                </div>
                <div class="col-lg-6">
                    <h2>Tại sao chọn TD Travel?</h2>
                    <ul>
                        <li>Đa dạng địa điểm du lịch</li>
                        <li>Hướng dẫn viên và tư vấn du lịch chuyên nghiệp</li>
                        <li>Gói du lịch được tùy chỉnh</li>
                        <li>Chất lượng chỗ ở</li>
                    </ul>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <h2>Liên hệ với chúng tôi</h2>
                    <p>Có câu hỏi hoặc sẵn sàng lên kế hoạch cho cuộc phiêu lưu tiếp theo của bạn? Hãy liên hệ với đội
                        ngũ thân thiện của chúng tôi ngay hôm nay.</p>
                    <p>Email: info@tdtravel.com</p>
                    <p>Điện thoại: +123 456 7890</p>
                </div>
            </div>
        </div>
    </main>
</body>