<body>
    <header class="header fixed-top">
        <!-- place navbar here -->
        <div class="header-top text-light d-flex justify-content-between align-item-center bg-success bg-gradient">
            <span class="ms-5">1900 1808</span>
            <div class="me-5">
                <a href="#!datcho" style="text-decoration: none;" class="me-2 text-light"><span>CHECK
                        TOUR</span></a>
                <span><a class="text-light link-underline link-underline-opacity-0" href="#!login">ĐĂNG
                        NHẬP</a></span>
            </div>
        </div>
        <div class="header-bottom bg-success text-light">
            <nav class="navbar navbar-expand-lg ms-5 p-0">
                <div class="container-fluid">
                    <a href="#!home"><img src="./img/Logo_White.jpg" class="img-fluid" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-light bg-warning-hover" aria-current="page" href="#">LỊCH
                                    KHỞI HÀNH
                                    2024</a>
                            </li>
                            <!-- Du lich nuoc ngoai -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    DU LỊCH NƯỚC NGOÀI
                                </a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Thái Lan</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Nhật Bản</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Hàn Quốc</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Trung Quốc</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Malaysia</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Singapore</a></li>
                                    </ul>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Ý</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Pháp</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Đức</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Tây Ban Nha</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Bỉ</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Hà Lan</a></li>
                                    </ul>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Úc</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch New Zealand</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Fiji</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Papua New Guinea</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Samoa</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Vanuatu</a></li>
                                    </ul>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Brasil</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Argentina</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Chile</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Peru</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Colombia</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Ecuador</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Du lich trong nuoc -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    DU LỊCH TRONG NƯỚC
                                </a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Hà Nội</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Sapa</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Hạ Long</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Ninh Bình</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Huế</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Đà Nẵng</a></li>
                                    </ul>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Hội An</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Nha Trang</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Đà Lạt</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Phan Thiết</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Vũng Tàu</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Cần Thơ</a></li>
                                    </ul>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Du lịch Đồng Tháp</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Cà Mau</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Quy Nhơn</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Phú Quốc</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Côn Đảo</a></li>
                                        <li><a class="dropdown-item" href="#">Du lịch Mộc Châu</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Tin tuc -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" aria-disabled="true" href="#"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    TIN TỨC
                                </a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Cẩm nang du lịch</a></li>
                                        <li><a class="dropdown-item" href="#">Nhật ký du lịch</a></li>
                                        <li><a class="dropdown-item" href="#">Tư vấn du lịch</a></li>
                                        <li><a class="dropdown-item" href="#!gioithieu">Giới thiệu</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Khuyến mãi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-light" aria-current="page" href="#">VÉ MÁY BAY</a>
                            </li>
                        </ul>
                        <form class="d-flex m-2 mx-2" role="search">
                            <input ng-model="$rootScope.searchItem" class="form-control me-2" type="search"
                                placeholder="Search" aria-label="Search">
                            <i ng-click="searchProduct()" class="bi bi-search fs-2"></i>
                        </form>
                        <form class="d-flex me-5" role="cart">
                            <a class="text-light" href="#!giohang"><i class="bi bi-cart fs-2"></i></a>
                            <div id="cartIcon"
                                class="mt-1 bg-light text-dark d-flex rounded-circle text-center align-item-center justify-content-center"
                                style="height: 17px; width: 17px;">
                                {{tongQuantity }}
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</body>