<body>
    <div class="modal fade" id="modal-thong-bao" tabindex="999" role="dialog" aria-labelledby="modal-thong-bao-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-thong-bao-label">Thông báo</h5>
                    <button type="button" class="close btn-dong-y" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Ưeb của Dũng.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-dong-y" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <main>
        <!-- Slider -->
        <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner p-0">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="./img/banner1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="./img/banner2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="./img/banner3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Du lich trong nuoc -->
            <div class="eight my-5">
                <h1>DU LỊCH TRONG NƯỚC</h1>
            </div>
            <!-- My code -->
            <div class="container mt-3">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 my-3"
                        ng-repeat="p in products | filter: {kind: 'trong nước', name: ''}  | limitTo: max : page | orderBy : sort">
                        <div class="card hover14 position-relative">
                            <figure><img src="{{p.image}}" class="card-img-top" alt="...">
                            </figure>
                            <div class="card-body">
                                <h5>{{p.name}}</h5>
                                <h6>Đánh giá: <img src="./img/{{p.rating}}.png" alt=""></h6>
                                <h6>Thời gian: <span>{{p.duration}}</span></h6>
                                <h6>Di chuyển: <span>{{p.vehicle}}</span></h6>
                                <h6 class="change-color">{{p.price | number}} ₫</h6>
                                <div class="buttons">
                                    <a href="#!chitiet/{{p.id}}" ng-click="checkProduct(p.id)"><button
                                            class="cta-01 mx-2"><span>Xem chi
                                                tiết</span></button></a>
                                    <a><button id="product" class="cta-01 toss-effect" ng-click="count(p)"><span>Thêm
                                                vào
                                                giỏ
                                                hàng</span></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax1 img-fluid"></div>
        <div class="container ">
            <!-- Du lich nuoc ngoai -->
            <div class="eight my-5">
                <h1>DU LỊCH NƯỚC NGOÀI</h1>
            </div>
            <div class="row">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3"
                            ng-repeat="p in products | filter: {kind: 'quốc tế'} | limitTo: max : page | orderBy : sort">
                            <div class="card hover14 position-relative">
                                <figure><img src="{{p.image}}" class="card-img-top" alt="...">
                                </figure>
                                <div class="card-body">
                                    <h5>{{p.name}}</h5>
                                    <h6>Đánh giá: <img src="./img/{{p.rating}}.png" alt=""></h6>
                                    <h6>Thời gian: <span>{{p.duration}}</span></h6>
                                    <h6>Di chuyển: <span>{{p.vehicle}}</span></h6>
                                    <h6 class="change-color">{{p.price | number}} ₫</h6>
                                    <div class="buttons">
                                        <a href="#!chitiet/{{p.id}}"><button class="cta-01 mx-2"><span>Xem chi
                                                    tiết</span></button></a>
                                        <a><button id="product" class="cta-01 toss-effect"
                                                ng-click="count(p)"><span>Thêm
                                                    vào
                                                    giỏ
                                                    hàng</span></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax2 img-fluid"></div>
        <div class="container">
            <iframe src="./Component/Card_Carousel.html" id="iframe1" width="100%" height="750px"
                frameborder="0"></iframe>
        </div>
    </main>
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <!-- <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "215039248357812");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script> -->

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v18.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</body>